@import 'tailwindcss';

#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  @apply bg-gray-800;
  overflow: hidden
}

@layer components {
.sidebar-icon {
  @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto bg-gray-200 dark:bg-gray-800 hover:rounded-xl rounded-3xl transition-all duration-300 ease-linear cursor-pointer shadow-lg;
}

.sidebar-hr {
  @apply bg-gray-200 dark:bg-gray-800 border border-gray-200 dark:border-gray-800 rounded-full invisible md:visible md:mx-2;
}
}

#SBI_1 {
  color: oklch(62.7% 0.194 149.214);
  @apply hover:text-white hover:bg-green-600
}

.SBI_1_On_Click {
  background-color: green;
}

#SBI_2 {
  color: oklch(60.9% 0.126 221.723);
  @apply hover:text-white hover:bg-cyan-600
}

.SBI_2_On_Click {
  background-color: oklch(60.9% 0.126 221.723);
}

#SBI_3 {
  color: oklch(45.2% 0.211 324.591);
  @apply text-fuchsia-800 hover:text-white hover:bg-fuchsia-800
}
.SBI_3_On_Click {
  background-color: oklch(45.2% 0.211 324.591);
}

.move-off-X{
  transform: translate(-500px, 0px);
}
.move-off-Y{
  transform: translate(0px, -500px);
}

@media screen and (min-width: 1200px) {
  .move-off-X {
    transform: translate(-1000px, 0px);
  }
}
.move-right20px-up5px {
  transform: translate(20px, -5px)
}
.move-down10px {
  transform: translate(0, 10px)
}
.parallelogram {
  width: 75%;
  height: 55px;
  transform: skew(30deg);
}
